<table>
  <tr>
    <th>Nombre de la escuela</th>
    <th>Grado</th>
    <th>Grupo</th>
    <th>Periodo</th>
  </tr>
  <tr>
    <th style='color: #F00'>No.</th>
    <th>Nombre y Apellido</th>
    <th colspan='3'>Identifica una receta</th>
    <th colspan='3'>Identifica para que? sirve un instructivo</th>
    <th colspan='3'>Utiliza el lenguaje para llegar a acuerdos</th>
    <th colspan='3'>Sigue el procedimiento para preparar alguna receta</th>
    <th colspan='3'>Sabe trabajar colaborativamente</th>
  </tr>
  <tr>
    <td></td><td></td><td>Si</td><td>No</td><td>En Proceso</td><td>Si</td><td>No</td><td>En Proceso</td><td>Si</td><td>No</td><td>En Proceso</td><td>Si</td><td>No</td><td>En Proceso</td><td>Si</td><td>No</td><td>En Proceso</td></tr><tr><td>1</td><td>Beto Cruz</td><td>X</td> <td></td> <td></td><td></td> <td>X</td> <td></td><td>X</td> <td></td> <td></td><td></td> <td>X</td> <td></td><td></td> <td>X</td> <td></td><tr><td>2</td><td>Luis Perez</td><td>X</td> <td></td> <td></td><td></td> <td></td> <td>X</td><td></td> <td></td> <td>X</td><td></td> <td>X</td> <td></td><td>X</td> <td></td> <td></td>
