<table style='width:100%'>
  <tr style='background-color: #FFC000'>
    <th>No.</th>
    <th>Nombre y Apellido</th> 
    <th colspan='3'>Pregunta 1</th>
    <th colspan='3'>Pregunta 2</th>
    <th colspan='3'>Pregunta 3</th>
    <th colspan='3'>Pregunta 4</th>
    <th colspan='3'>Pregunta 5</th>    
  </tr>
  <tr bgcolor='#fbe4d6'>
    <td> </td>
    <td> </td>
    <td>Si</td>
    <td>No</td>
    <td>En Proceso</td>
    <td>Si</td>
    <td>No</td>
    <td>En Proceso</td>
    <td>Si</td>
    <td>No</td>
    <td>En Proceso</td>
    <td>Si</td>
    <td>No</td>
    <td>En Proceso</td>
    <td>Si</td>
    <td>No</td>
    <td>En Proceso</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Alumno Test</td> 
    <td >X</td>
    <td></td>
    <td></td>
    <td >X</td>
    <td></td>
    <td></td>
    <td >X</td>
    <td></td>
    <td></td>
    <td></td>
    <td >X</td>
    <td></td>
    <td></td>
    <td >X</td>
    <td></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Alumno Test 1</td> 
    <td></td>
    <td >X</td>    
    <td></td>
    <td >X</td>
    <td></td>
    <td></td>
    <td >X</td>
    <td></td>
    <td></td>
    <td></td>
    <td >X</td>
    <td></td>
    <td></td>
    <td></td>        
    <td>X</td>
  </tr>
</table>